# Discord application
BOT_TOKEN=my-bot-token
BOT_ID=my-bot-id
GUILD_ID=your-oav-guild-id

# Local files
POSITIONS_CONFIG_PATH=positions.json
JSON_STORE_PATH=store.json

# OAV Discord channels and roles
STAFFUP_CHANNEL_ID=your-staffup-channel-id
EVENTS_APPROVAL_CHANNEL_ID=your-events-approval-channel-id
EVENT_ORGANIZER_ROLE_ID=your-event-organizer-role-id
EVENT_ORGANIZER_PANEL_CHANNEL_ID=your-event-organizer-panel-channel-id
TICKETS_SUPPORT_ROLE_ID=your-tickets-support-role-id
