# Bot token
BOT_TOKEN=my-bot-token

# Bot ID
BOT_ID=my-bot-id

# Positions config path
POSITIONS_CONFIG_PATH=positions.json

# JSON store config
JSON_STORE_PATH=store.json

# Staff-UPs Channel ID
STAFFUP_CHANNEL_ID=some-channel-id

# Events approval channel ID
EVENTS_APPROVAL_CHANNEL_ID=some-channel-id

# Guild ID
GUILD_ID=some-guild-id

# General event configuration
GENERAL_EVENTS_CATEGORY_ID=your-events-category-id
EVENT_ORGANIZER_ROLE_ID=your-event-organizer-role-id
EVENT_ORGANIZER_PANEL_CHANNEL_ID=
