# Bot token
BOT_TOKEN=MTU0MjkyMzg0MDgxOTAzNjI2MQ.GhKvCu.9Xw41GRV8HN_cwBbWzJtI4RzJ_0vYeJE7UKMMY

# Bot ID
BOT_ID=1542923840819036261

# Positions config path
POSITIONS_CONFIG_PATH=positions.json

# JSON store config
JSON_STORE_PATH=store.json

# Staff-UPs Channel ID
STAFFUP_CHANNEL_ID=some-channel-id

# Events approval channel ID
EVENTS_APPROVAL_CHANNEL_ID=1542941982643589261

# Guild ID
GUILD_ID=1542153680386523146

# General event configuration
GENERAL_EVENTS_CATEGORY_ID=1542153681099694164
EVENT_ORGANIZER_ROLE_ID=1542153680420081678
EVENT_ORGANIZER_PANEL_CHANNEL_ID=1542941982643589261
